.formContainer {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  padding-left: 20px;
  height: auto;
  position: fixed;
  left: 20%;
  bottom: 1.5%;
  /* width: 79.5%; */
  width: 80%;
}

.formContainerInput {
  width: 87%;
  display: flex;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  width: 20%;
  gap: 15px;
  position: relative;
  left: -10px;
}

.input {
  width: 90%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
