* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* aLL CSS VARIABLES so that i can use it like
   background-color: var(--color-black); 
 
*/
:root {
  --color-black: #121212;
  --color-primary: #34c94b;
  --color-secondary: #ffffff;
  --font-primary: "Poppins", sans-serif;
}
