* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
.appContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: rgb(126, 37, 26);
}
.listContainer {
  margin: 15px 5px;
  border: 2px solid lightgreen;
  padding: 5px;
  background-color: rgba(162, 205, 205, 0.405);
}

li {
  display: flex;
  gap: 10px;
  /* float: right; */
  /* justify-content: center; */
}

input {
  /* float: right; */
  display: flex;
  align-items: end;
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}
