.curvedDiv {
  height: 230px;
  width: 1400pxw;
  overflow-x: hidden;
  background-color: #006b87;
  clip-path: polygon(
    100% 0,
    0 0,
    0 89.52%,
    2% 89.2%,
    4% 88.25%,
    6% 86.71%,
    8% 84.62%,
    10% 82.06%,
    12% 79.13%,
    14% 75.93%,
    16% 72.56%,
    20% 65.84%,
    22% 62.71%,
    24% 59.89%,
    26% 57.49%,
    28% 55.57%,
    30% 54.22%,
    32% 53.48%,
    34% 53.37%,
    36% 53.9%,
    38% 55.06%,
    40% 56.79%,
    42% 59.04%,
    44% 61.73%,
    46% 64.77%,
    48% 68.04%,
    50% 71.43%,
    52% 74.82%,
    54% 78.09%,
    56% 81.12%,
    58% 83.82%,
    60% 86.07%,
    62% 87.8%,
    64% 88.96%,
    66% 89.49%,
    68% 89.38%,
    70% 88.64%,
    72% 87.29%,
    74% 85.37%,
    76% 82.96%,
    78% 80.15%,
    80% 77.02%,
    82% 73.7%,
    84% 70.29%,
    86% 66.93%,
    88% 63.72%,
    90% 60.79%,
    92% 58.24%,
    94% 56.15%,
    96% 54.6%,
    98% 53.65%,
    100% 53.33%
  );
}

.LoginNavbar {
  background: none;
  /* position: relative;
  bottom: 30px; */

  margin: 0 -30px 0 0;
}

/* .DetailsContainer {
  display: flex;
  width: 1440px;
  margin-top: -10px;
  justify-content: center;
}

.Thinking {
  background-image: url("Thinking.png");
  width: 60%;
  height: 470px;
  background-size: contain;
  margin-left: -350px;
  background-repeat: no-repeat;
}

.LoginCredentials {
  padding: 24px;
}

.greenCol {
  color: aqua;
}
.greenButton {
  width: 300px;
} */

.DetailsContainer {
  display: flex;
  width: 100%;
  margin-top: -10px;
  justify-content: center;
}

.Thinking {
  background-image: url("Thinking.png");
  width: 50%;
  height: 480px;
  background-size: contain;
  margin-left: 180px;
  /* margin-bottom: 200px; */
  position: relative;
  bottom: 15px;
  background-repeat: no-repeat;
}

.LoginCredentials {
  width: 670px;
  /* height: 30%; */
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 140px;
}

.LoginCredentials h2 {
  margin-bottom: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 100;
  color: #333;
  /* color: #28a74544; */
}

.LoginCredentials p {
  margin-bottom: 18px;
  font-weight: 100;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #666;
}

.googleButton {
  width: 100%;
  /* height: 10%; */
  padding: 1px;
  font-size: 12px;

  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: #666;
  border: 1px solid #666;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 1px; */
  cursor: pointer;
}

.googleButton img {
  margin-right: 10px;
  height: 36px;
}

.orDivider {
  text-align: center;
  width: 100%;
  color: #aaa;
  margin: 5px 0 18px 0;
  display: flex;
  /* align-items: center; */
}
.dash {
  display: flex;
  align-items: start;
}
.or {
  padding: 0 20px;
  position: relative;
  top: 5px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;

  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.inputContainer {
  position: relative;
}

.passwordToggle {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-80%);
  cursor: pointer;
  /* Additional styling for the image (e.g., size, color, etc.) */
}

.forgetPassword {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 150, 136, 0.9);
  cursor: pointer;
  margin: 10px 0;
  font-weight: 500;
}

/* .greenCol {
  color: #28a745;
} */

.greenButton {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 150, 136, 1);
  color: #fff;
  border: none;

  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  cursor: pointer;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.RegisterText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.registerLink {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgba(0, 150, 136, 1);
  cursor: pointer;
}
