.hero {
  background-color: var(--color-black);
  font-family: var(--font-primary);
  color: var(--color-secondary);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
