.section {
  padding: 20px;
  background-color: black;
  color: white;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.tabs {
  margin-top: 10px;
}

.tabItem {
  color: white !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
}

.cardDisplay {
  margin-top: 20px;
}
