* {
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
}
/* .form-conatiner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
} */

.btn-container {
  display: flex;
  gap: 20px;
}
button {
  padding: 8px 10px;
  border-radius: 5px;
}
