/* try to use css variables here or in a global place ask gpt .  */
/* MAKE USE OF poppins font (see the design template in figma) */

.btn {
  border-radius: 12px;
  /* see figma */
  font-family: var(--font-primary);
  background-color: var(--color-black);

  /* see figma template */
  color: var(--color-primary);
  font-size: 18px;

  width: 170px;
  height: 47px;
  /* see figma */
  cursor: pointer;
}
/* 
.btn :hover {
  cursor: pointer;
} */
