* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.appContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
  padding: 10px;
}
.btnContainer {
  display: flex;
  gap: 10px;
}
